{%extends "base.html"%} {%block title%}Student Dashboard{%endblock%} {% block
sidebar_script %}
<script src="{{ url_for('static', filename='js/sidebar_item.js')}}"></script>
{% endblock %} {%block content%} {% if
session['user_data']['scholarship']=='None' and session['user_data']['status']
== 'None'%}
<div class="container-fluid">{% include 'student/no_scholarship.html'%}</div>
{%else%}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
    >
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Scholarship Type
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{session['user_data'].get('scholarship', '')}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-folder-open fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scholarship Allocation (Annual) Card -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-dark shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Allocation (Semester)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{session['user_data'].get('allocation', '')}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-money-bill fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Status Card -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Status
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{session['user_data'].get('status', '')}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-stamp fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col mb-4">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Transaction History</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Released by</th>
                  <th>Reference Number</th>
                </tr>
              </thead>

              <tbody>
                {%for entry in receipts%}
                <tr>
                  <td>{{entry.date}}</td>
                  <td>{{entry.amount}}</td>
                  <td>{{entry.released_by}}</td>
                  <td>{{entry.key}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Table -->
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{%endif%} {%endblock%}
