{%extends 'base.html'%} {%block title%} Ako Bicol - Applicants {%endblock%}
{%block sidebar_script %}
<script src="{{ url_for('static', filename='js/sidebar_item.js')}}"></script>
<script src="{{ url_for('static', filename='js/data_tables.js')}}"></script>
{% endblock %} {%block content%}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Applicants</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
    >
  </div>
  <!-- End Page Heading -->

  <div class="row">
    <!-- Content Column -->
    <div class="col mb-4">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-body">
          {%if applicants%}
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Municipality</th>
                  <th>School</th>
                  <th>Program</th>
                  <th>Year level</th>
                  <th>Notice of Award</th>
                  <th>Certificate of Enrollment</th>
                  <th>Financial Proof</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {%for entry in applicants%}
                <tr>
                  <td>{{entry.name}}</td>
                  <td>{{entry.municipality}}</td>
                  <td>{{entry.school}}</td>
                  <td>{{entry.program}}</td>
                  <td>{{entry.year_level}}</td>
                  <td class="text-center">
                    <a href="{{entry.noa_link}}">Click to View</a>
                  </td>
                  <td class="text-center">
                    <a href="{{entry.coe_link}}">Click to View</a>
                  </td>
                  <td class="text-center">
                    <a href="{{entry.financial_link}}">Click to View</a>
                  </td>

                  <td class="text-center">
                    <a
                      class="text-success"
                      onclick="showConfirmation('{{ entry.key }}', '{{entry.email}}', 'accept')"
                    >
                      Accept
                    </a>
                    <div></div>
                    <a
                      class="text-danger"
                      onclick="showConfirmation('{{ entry.key }}', '{{entry.email}}', 'reject')"
                    >
                      Reject
                    </a>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          {%else%}
          <h2 class="text-center text-info">
            There are no scholarship applicants
          </h2>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
