{%extends 'base.html'%} {%block title%} Scholarship Beneficiaries {%endblock%}
{% block sidebar_script %}
<script src="{{ url_for('static', filename='js/sidebar_item.js')}}"></script>
<script src="{{ url_for('static', filename='js/data_tables.js')}}"></script>
{% endblock %} {%block content%}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scholarship Beneficiaries</h1>
  </div>
  <!-- End Page Heading -->
  <div class="row">
    <!-- Content Column -->
    <div class="col mb-4">
      <div class="card shadow mb-4">
        <div class="row p-4">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Municipality</th>
                  <th>School</th>
                  <th>Program</th>
                  <th>Scholarship</th>
                  <th>Certificate of Enrollment</th>
                  <th>Certificate of Grades</th>
                </tr>
              </thead>

              <tbody>
                {%for entry in list%}
                <tr>
                  <td>{{entry.name}}</td>
                  <td>{{entry.municipality}}</td>
                  <td>{{entry.school}}</td>
                  <td>{{entry.program}}</td>
                  <td>{{entry.scholarship}}</td>
                  <td><a href="{{entry.coe}}">Click to View</a></td>
                  <td><a href="{{entry.cog}}">Click to View</a></td>
                </tr>

                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
