{%extends 'base.html'%} {%block title%} Scholarship Payout {%endblock%} {%block
sidebar_script %}
<script src="{{ url_for('static', filename='js/sidebar_item.js')}}"></script>
<script src="{{ url_for('static', filename='js/data_tables.js')}}"></script>
<script src="https://unpkg.com/html5-qrcode"></script>
{%endblock%} {%block content%}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payout</h1>
  </div>
  <!-- End Page Heading -->

  <div class="row">
    <!-- Content Column -->
    <div class="col mb-4">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-body">
          <!-- QR Scanner and Students Info-->
          <div class="row mb-4">
            <!-- Top Row-->
            <div class="col-xl-4 col-lg-5">
              <div class="card">
                <!-- Card Header -->
                <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                >
                  <h6 class="m-0 font-weight-bold text-primary">
                    Scan Scholarship Beneficiary QR Code
                  </h6>
                </div>
                <!-- QR Scanner -->
                <div class="card-body">
                  <div class="m-2" id="my-qr-reader"></div>
                </div>
              </div>
            </div>

            <!-- QR Result (Students Info)-->
            <div class="col-xl-6 col-lg-7 mb-4">
              <div class="col">
                <div id="userDetails"></div>
              </div>
            </div>

            <!-- Payout Button-->
            <div class="col-xl-2 col-lg-5">
              <div id="payoutButton"></div>
            </div>
          </div>

          <div class="row m-1">
            <div class="table-responsive">
              <div id="gwaTable"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
