<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-text mx-3">
      Welcome, {{session['user_data']['role']}}
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/" id="Dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  {% if session['user_data']['role'] == 'admin'%}
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/applicants" id="Applicants">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Applicants</span></a
    >
  </li>
  {%endif%}

  <!-- Nav Item - Profile -->
  <li class="nav-item">
    <a class="nav-link" href="/profile" id="Profile">
      <i class="fas fa-fw fa-user"></i>
      <span>Profile</span></a
    >
  </li>

  {% if session['user_data']['role'] == 'student' and
  session['user_data']['status'] == 'Beneficiary'%}
  <!-- Nav Item - Update Certificate of Grades -->
  <li class="nav-item">
    <a class="nav-link" href="/coe" id="coe">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Update Certificate of Grades</span></a
    >
  </li>
  {%endif%} {% if session['user_data']['role'] == 'student' and
  session['user_data']['status'] not in ['Pending', 'Beneficiary'] and
  session['user_data']['scholarship']=='None'%}
  <!-- Nav Item - Apply for Scholarship -->
  <li class="nav-item">
    <a class="nav-link" href="/apply" id="apply">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Apply for Scholarship</span></a
    >
  </li>
  {%endif%} {% if session['user_data']['role'] == 'admin'%}
  <li class="nav-item">
    <a class="nav-link" href="/payout" id="payout">
      <i class="fas fa-fw fa-address-book"></i>
      <span>Payout</span></a
    >
  </li>
  {%endif%}

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
